<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>acutecomb-stack</key>
		<string>acutecomb-stack.glif</string>
		<key>acutecomb-stack.case</key>
		<string>acutecomb-stack.case.glif</string>
		<key>brevecomb-stack</key>
		<string>brevecomb-stack.glif</string>
		<key>brevecomb-stack.case</key>
		<string>brevecomb-stack.case.glif</string>
		<key>circumflexcomb-stack</key>
		<string>circumflexcomb-stack.glif</string>
		<key>circumflexcomb-stack.case</key>
		<string>circumflexcomb-stack.case.glif</string>
		<key>dieresiscomb-stack</key>
		<string>dieresiscomb-stack.glif</string>
		<key>dieresiscomb-stack.case</key>
		<string>dieresiscomb-stack.case.glif</string>
		<key>dotaccentcomb-stack</key>
		<string>dotaccentcomb-stack.glif</string>
		<key>dotaccentcomb-stack.case</key>
		<string>dotaccentcomb-stack.case.glif</string>
		<key>eng</key>
		<string>eng.glif</string>
		<key>engn</key>
		<string>engn.glif</string>
		<key>engtail</key>
		<string>engtail.glif</string>
		<key>gravecomb-stack</key>
		<string>gravecomb-stack.glif</string>
		<key>gravecomb-stack.case</key>
		<string>gravecomb-stack.case.glif</string>
		<key>hookabovecomb-stack</key>
		<string>hookabovecomb-stack.glif</string>
		<key>hookabovecomb-stack.case</key>
		<string>hookabovecomb-stack.case.glif</string>
		<key>hornU</key>
		<string>hornU_.glif</string>
		<key>macroncomb-stack</key>
		<string>macroncomb-stack.glif</string>
		<key>macroncomb-stack.case</key>
		<string>macroncomb-stack.case.glif</string>
		<key>periodcentered.loclCAT</key>
		<string>periodcentered.loclC_A_T_.glif</string>
		<key>ringcomb-stack.case</key>
		<string>ringcomb-stack.case.glif</string>
		<key>tildecomb-stack</key>
		<string>tildecomb-stack.glif</string>
		<key>tildecomb-stack.case</key>
		<string>tildecomb-stack.case.glif</string>
	</dict>
</plist>
