<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Che</key>
    <string>C_he.glif</string>
    <key>Cy-descendercomb.case</key>
    <string>C_y-descendercomb.case.glif</string>
    <key>De.bgr</key>
    <string>D_e.bgr.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>Ef</key>
    <string>E_f.glif</string>
    <key>Gamma</key>
    <string>G_amma.glif</string>
    <key>Ka</key>
    <string>K_a.glif</string>
    <key>Lambda</key>
    <string>L_ambda.glif</string>
    <key>Pi</key>
    <string>P_i.glif</string>
    <key>Psi</key>
    <string>P_si.glif</string>
    <key>Schwacyr</key>
    <string>S_chwacyr.glif</string>
    <key>Sha</key>
    <string>S_ha.glif</string>
    <key>Soft</key>
    <string>S_oft.glif</string>
    <key>Ucyr</key>
    <string>U_cyr.glif</string>
    <key>Yu-dash.case</key>
    <string>Y_u-dash.case.glif</string>
    <key>Ze</key>
    <string>Z_e.glif</string>
    <key>Zhe</key>
    <string>Z_he.glif</string>
    <key>engn</key>
    <string>engn.glif</string>
    <key>engtail</key>
    <string>engtail.glif</string>
  </dict>
</plist>
