<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ampersand</key>
		<string>ampersand.glif</string>
		<key>asciicircum</key>
		<string>asciicircum.glif</string>
		<key>asterisk</key>
		<string>asterisk.glif</string>
		<key>at</key>
		<string>at.glif</string>
		<key>backslash</key>
		<string>backslash.glif</string>
		<key>braceleft</key>
		<string>braceleft.glif</string>
		<key>braceright</key>
		<string>braceright.glif</string>
		<key>bracketleft</key>
		<string>bracketleft.glif</string>
		<key>bracketright</key>
		<string>bracketright.glif</string>
		<key>comma</key>
		<string>comma.glif</string>
		<key>commercialMinusSign</key>
		<string>commercialM_inusS_ign.glif</string>
		<key>copyright</key>
		<string>copyright.glif</string>
		<key>hyphen</key>
		<string>hyphen.glif</string>
		<key>micro</key>
		<string>micro.glif</string>
		<key>numbersign</key>
		<string>numbersign.glif</string>
		<key>numero</key>
		<string>numero.glif</string>
		<key>ordfeminine</key>
		<string>ordfeminine.glif</string>
		<key>ordmasculine</key>
		<string>ordmasculine.glif</string>
		<key>paragraph</key>
		<string>paragraph.glif</string>
		<key>parenleft</key>
		<string>parenleft.glif</string>
		<key>parenright</key>
		<string>parenright.glif</string>
		<key>question</key>
		<string>question.glif</string>
		<key>questiondown</key>
		<string>questiondown.glif</string>
		<key>quotedblleft</key>
		<string>quotedblleft.glif</string>
		<key>quotedblright</key>
		<string>quotedblright.glif</string>
		<key>quoteleft</key>
		<string>quoteleft.glif</string>
		<key>quoteright</key>
		<string>quoteright.glif</string>
		<key>registered</key>
		<string>registered.glif</string>
		<key>section</key>
		<string>section.glif</string>
		<key>semicolon</key>
		<string>semicolon.glif</string>
		<key>slash</key>
		<string>slash.glif</string>
	</dict>
</plist>
